
*{
    margin: 0px;
    padding: 0px;
}


.navbar{
    background-color: black;
    height: 50px;
}
ul{
    display: flex;
    padding-top: 15px;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}